<section class="vbox" ng-controller="DashboardCtrl">
	<section class="scrollable wrapper">
		<header class="header bg-white b-b">
			<h3>Last 24 Hours</h3>
		</header>
		<div class="row">

	        <div class="col-xs-4">
	        	<section class="panel bg-info lter no-borders">
                	<div class="panel-body">
                  		<span class="h4 pull-left">Total Volume</span>
                  		<div class="text-center padder m-t">
                    		<span class="h1 text-info">{{daily_volume_total}}</span>
                  		</div>
                	</div>
                	<footer class="panel-footer lt" ng-if="daily_volume > 0">
                  		<div class="row">
		                    <div class="col-xs-12">
		                      <span jq-sparkline ng-model="daily_volume" opts="{{chart_daily_volume_opts}}"  />
		                    </div>
                  		</div>
                	</footer>
              	</section>
            </div>
	        <div class="col-xs-4">
	        	<section class="panel bg-info lter no-borders">
                	<div class="panel-body">
                  		<span class="h4 pull-left">Successful</span>
                  		<div class="text-center padder m-t">
                    		<span class="h1 text-success">{{daily_success_total}}</span>
                  		</div>
                	</div>
                	<footer class="panel-footer lt" ng-if="daily_success > 0">
                  		<div class="row">
		                    <div class="col-xs-12">
		                      <span jq-sparkline ng-model="daily_success" opts="{{chart_daily_success_opts}}"  />
		                    </div>
                  		</div>
                	</footer>
              	</section>
	        </div>
	        <div class="col-xs-4">
	        	<section class="panel bg-info lter no-borders">
                	<div class="panel-body">
                  		<span class="h4 pull-left">Failed</span>
                  		<div class="text-center padder m-t">
                    		<span class="h1 text-danger">{{daily_failure_total}}</span>
                  		</div>
                	</div>
                	<footer class="panel-footer lt" ng-if="daily_failure > 0">
                  		<div class="row">
		                    <div class="col-xs-12">
		                      <span jq-sparkline ng-model="daily_failure" opts="{{chart_daily_failure_opts}}"  />
		                    </div>
                  		</div>
                	</footer>
              	</section>
	        </div>
	    </div>
	    <div class="row">
	    	<hr />
	    </div>
	    <header class="header bg-white b-b">
			<h3>Last 7 Days</h3>
		</header>
	    <div class="row">

	        <div class="col-xs-4">
	        	<section class="panel bg-info lter no-borders">
                	<div class="panel-body">
                  		<span class="h4 pull-left">Total Volume</span>
                  		<div class="text-center padder m-t">
                    		<span class="h1 text-info">{{weekly_volume_total}}</span>
                  		</div>
                	</div>
                	<footer class="panel-footer lt" ng-if="weekly_volume > 0">
                  		<div class="row">
		                    <div class="col-xs-12">
		                      <span jq-sparkline ng-model="weekly_volume" opts="{{chart_weekly_volume_opts}}"  />
		                    </div>
                  		</div>
                	</footer>
              	</section>
            </div>
	        <div class="col-xs-4">
	        	<section class="panel bg-info lter no-borders">
                	<div class="panel-body">
                  		<span class="h4 pull-left">Successful</span>
                  		<div class="text-center padder m-t">
                    		<span class="h1 text-success">{{weekly_success_total}}</span>
                  		</div>
                	</div>
                	<footer class="panel-footer lt" ng-if="weekly_success > 0">
                  		<div class="row">
		                    <div class="col-xs-12">
		                      <span jq-sparkline ng-model="weekly_success" opts="{{chart_weekly_success_opts}}"  />
		                    </div>
                  		</div>
                	</footer>
              	</section>
	        </div>
	        <div class="col-xs-4">
	        	<section class="panel bg-info lter no-borders">
                	<div class="panel-body">
                  		<span class="h4 pull-left">Failed</span>
                  		<div class="text-center padder m-t">
                    		<span class="h1 text-danger">{{weekly_failure_total}}</span>
                  		</div>
                	</div>
                	<footer class="panel-footer lt" ng-if="weekly_failure > 0">
                  		<div class="row">
		                    <div class="col-xs-12">
		                      <span jq-sparkline ng-model="weekly_failure" opts="{{chart_weekly_failure_opts}}"  />
		                    </div>
                  		</div>
                	</footer>
              	</section>
	        </div>
	    </div>
	</section>
</section>

