<div>
<h2><span app-title></span> Dashboard</h2>
<div class="jumbotron">
  <p>A webhook is a simple mechanism for sending notifications between APIs using HTTP POST callbacks.  Webhooks allow you to specifiy a URI that you would like to POST information to any time a specific event occurs in our system.</p>


 	<div class="collg-12">
  		<a class="btn btn-success btn-lg col-md-6" role="button" ng-click="changePage('destinations')">Configure Events</a>
  		<a class="btn btn-info btn-lg  col-md-6" role="button" ng-click="changePage('docs')">View Documentation</a>
  	</div>
</div>
</div>

