<div ng-controller="DestinationEditCtrl">
	<h2>Edit Event Destination</h2>
	<p class="text-muted">Edit the existing destnation below.</p>
	<div class="m-t-lg m-b-lg">

        <div class="panel-body">
        
            <form role="form" id="form" name="form" data-validate="parsley" ng-submit="submit()">
                <input type="hidden" name="input_id" id="input_id" ng-model="input_id" />
                <input type="hidden" name="status" id="status" ng-model="status" value="active" />
                <div ng-show="showError" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i>
                    </button>
                    <i class="icon-ban-circle"></i>{{ message }}
                    <ul>
                        <li ng-repeat="messagedetail in messagedetails">{{ messagedetail.message }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Webhook Version</label>
                    <select ng-model="version_id" ng-options="y.version_id as y.key for y in versions" class="form-control" data-parsley-required="true"><option value=""></option></select>
                </div>

                <div class="form-group">
                    <label>Event</label>
                    <select ng-model="event" ng-options="y.key as y.label for y in events" class="form-control" data-parsley-required="true"><option value=""></option></select>
                </div>

                <div class="form-group">
                    <label>Destination Name</label>
                    <input type="text" class="form-control" placeholder="Enter a label for the endpoint" name="name" id="name" ng-model="name" data-parsley-required="true">
                </div>

                <div class="form-group">
                    <label>Endpoint URL</label>
                    <input type="text" class="form-control" placeholder="Endpoint URL" name="endpoint_url" id="endpoint_url" ng-model="endpoint_url" data-type="urlstrict" data-parsley-required="true"> 
                </div>

                <div class="form-group">
                    <label>Verify SSL</label>
                    <select ng-model="verify_ssl" ng-options="y.option as y.name for y in verify_ssl_options" class="form-control" data-parsley-required="true"></select>
                </div>

                <div class="form-group">
                    <label>Retry Policy</label>
                    <select ng-model="retry_policy_id" ng-options="y.policy_id as y.name for y in policies" class="form-control" data-parsley-required="true"></select>
                </div>

                <div class="form-group pull-in clearfix" ng-show="show_policy_details">
                    <div class="col-sm-3 ">
                        <label>Retry Attempts</label>
                        <input class="form-control" type="text" id="retry_count" ng-model="retry_count">
                    </div>
                    <div class="col-sm-3">
                        <label>Retry Interval</label>
                        <input class="form-control" type="text" id="retry_interval" ng-model="retry_interval">
                    </div>
                </div>

                <div class="form-group">
                    <label>Authentication Type</label>
                    <select ng-model="authentication_type" ng-options="y.type as y.name for y in authoptions" class="form-control" data-parsley-required="true"></select>
                </div>

                <div class="form-group pull-in clearfix" ng-repeat="p in properties" ng-switch on="p.selectType">
                    <div class="col-sm-8 ">
                        <label>{{ p.label }}</label>

                        <input type="text" class="form-control" placeholder="{{ p.label }}" name="{{ p.property }}" id="{{ p.property }}" ng-model="$parent.authproperties[p.property]" data-parsley-required="{{ p.required }}" ng-switch-when="false" />

                        <select ng-model="$parent.authproperties[p.property]" ng-options="z.option_id as z.label for z in p.aOptions" class="form-control" ng-switch-when="true" data-parsley-required="true">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Failure Notification Email</label>
                    <input type="email" class="form-control" data-type="email" data-required="true" name="email_address" id="email_address" ng-model="email_address"> 
                </div>

            
                <button type="submit" class="btn btn-sm btn-success">Update Destination</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="delete(destination_id)">Delete Destination</button>
            </form>

</div>
</div>
