<div ng-controller="DestinationCtrl">
	<h2>Event Destinations</h2>
	<div><a class="btn btn-success" ng-click="changePage('adddestination')"><i class="fa fa-plus"></i> New Event Destination</a>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>Event(s)</th>
			<th>Destination URI</th>
			<th>Status</th>
		</tr>
		</thead>
		<tbody>
			<tr ng-repeat="destination in destinations">
				<td><strong><a href="javascript:void(0);" ng-click="changePage('editdestination',destination.destination_id)">{{destination.name}}</a></strong></td>
				<td><strong>{{destination.event_filters}}</strong></td>
				<td>{{destination.endpoint_url}}</td>
				<td class="success text-center">{{destination.status}}</td>
			</tr>
		</tbody>
	</table>
</div>
