<div ng-controller="DestinationCtrl">
	<h2>Event Destinations</h2>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Event</th>
			<th>Destination URI</th>
			<th>Status</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td><strong><a href="">client.create</a></strong></td>
				<td>https://myapp.webhooks.io/incoming/client</td>
				<td class="success text-center">active</td>
			</tr>
			<tr>
				<td><strong><a href="">client.create</a></strong></td>
				<td>https://crm.webhooks.io/incoming/client</td>
				<td class="warning text-center">paused</td>
			</tr>
			<tr>
				<td><strong><a href="">client.update</a></strong></td>
				<td>https://myapp.webhooks.io/incoming/client</td>
				<td class="success text-center">active</td>
			</tr>
			<tr>
				<td><strong><a href="">client.delete</a></strong></td>
				<td>https://myapp.webhooks.io/incoming/client</td>
				<td class="success text-center">active</td>
			</tr>
		</tbody>
	</table>
</div>
