<section class="vbox" ng-controller="LogCtrl">
	<header class="header bg-white b-b">
		<h2>Event Delivery Details</h2>
		<button type="button" ng-click="changePage('logs');" class="btn btn-default btn-xs"><i class="fa fa-chevron-left"></i> Back to Logs</button>
	</header>
	<div class="row">
		<div class="col-sm-2">
			<section class="scrollable wrapper">
				<br />
				<ul class="nav nav-pills nav-stacked">
			      <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
			      <li><a href="#details" data-toggle="tab">Details</a></li>
			      <li><a href="#attempts" data-toggle="tab">Messages</a></li>
			    </ul>
			</section>
		</div>
		<div class="col-sm-10">
			<section class="scrollable wrapper">
				<div class="tab-content">
					<div class="tab-pane active text-style" id="summary">
						<h3>Event Summary</h3>
						
					</div>
					<div class="tab-pane text-style" id="details">
						<h3>Destination Details</h3>
					</div><div class="tab-pane text-style" id="attempts">
						<h3>Attempts</h3>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>

