<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="webhooksio" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="webhooksio" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="webhooksio" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="webhooksio" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css" >
  <link rel="stylesheet" href="css/parsley.css"/>
  <link rel="stylesheet" href="css/gritter.css"/>
  <link rel="stylesheet" href="css/daterangepicker-bs3.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <base href="/">
</head>
<body>
  <div class="container-fluid" ng-controller="WebhookCtrl" ng-cloak>
    <div class="row">
        <ul class="nav nav-tabs">
          <li ng-if="show_introduction" ng-class="{active:currentview == 'introduction'}"><a ng-click="changePage('introduction')"><i class="fa fa-dashboard"></i> Introduction</a></li>
          <li ng-class="{active:currentview == 'dashboard'}"><a ng-click="changePage('dashboard')"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li ng-class="{active:currentview == 'destinations' || currentview == 'adddestination' || currentview == 'editdestination'}"><a ng-click="changePage('destinations')"><i class="fa fa-road"></i> Destinations</a></li>
          <li ng-class="{active:currentview == 'logs' || currentview == 'viewlog'}"><a ng-click="changePage('logs')"><i class="fa fa-book"></i> Logs</a></li>
          <!--<li ng-class="{active:currentview == 'docs'}"><a ng-click="changePage('docs')"><i class="fa fa-code"></i> Docs</a></li>-->
        </ul>
      </div>
    <div class="row">
      <div class="col-sm-12 col-md-12" ng-switch="currentview">
          <span ng-switch-when="introduction"><view-introduction></view-introduction></span>
          <span ng-switch-when="dashboard"><view-dashboard></view-dashboard></span>
          <span ng-switch-when="destinations"><view-destinations></view-destinations></span>
          <span ng-switch-when="adddestination"><add-destination></add-destination></span>
          <span ng-switch-when="editdestination"><edit-destination></edit-destination></span>
          <span ng-switch-when="logs"><view-logs></view-logs></span>
          <span ng-switch-when="viewlog"><view-log></view-log></span>
          <!--<span ng-switch-when="docs"><view-docs></view-docs></span>-->
      </div>
    </div>
  </div>
  
<!--
  <div id="footer">
    <div class="container">
      <p class="text-muted text-center">&copy; 2014 webhooks.io. Embedded Hooks v<span app-version></span></p>
    </div>
  </div>
-->

  <!-- JQuery -->
  <script src="js/libs/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="js/libs/bootstrap.min.js"></script>

  <!-- AngularJS -->
  <script src="js/libs/angular.min.js"></script>

  <!-- NG Sanitize -->
  <script src="https://code.angularjs.org/1.2.25/angular-sanitize.js"></script>

  <!-- Parsley -->
  <script src="js/libs/parsley.min.js"></script>

  <!-- Gritter -->
  <script src="js/libs/gritter.js"></script>

  <!-- Showdown -->
  <script src="js/libs/showdown.js"></script>

  <!-- Sparkline Charts -->
  <script src="js/libs/jquery.sparkline.min.js"></script>

  <!-- Moment JS -->
  <script src="js/libs/moment.min.js"></script>

  <!-- DateRangePicker -->
  <script src="js/libs/daterangepicker.js"></script>

  <!-- App -->
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
